<h2>NgOninit Vs Constructor</h2>
NgOninit
<ol>
    <li>NgOninit Called only once</li>
    <li>It is used for the initilization of values like API call in edit and view</li>
    <li>It is part of angular, so handled by angular</li>
    <li>Binding to the UI is done, so can access the databound property.</li>
</ol>
Constructor
<ol>
    <li>Constructor is also called once but we don't have to use it for the any work in it.</li>
    <li>It is used for dependency injection only.</li>
    <li>It is part of Typescript so that we can do a object oriented programming. So it is part of 
        javascript.
    </li>
    <li>Binding didn't happended, only class variable are accessable.</li>
</ol>
